@{
    /*
     * This is the About page for the website, giving a brief description of why the project was created and who it was created by.
     */
}

<div class="text-center">
    <br />
    <h2><strong>About BucOverflow</strong></h2>
    <br />
    <img src="/Images/oldbucky.gif" alt="Retro Bucky logo" style="margin-bottom: 30px;"/>
    <p style="padding-left: 100px; padding-right: 100px;">
        Welcome to BucOverflow, the online community made by students for students to ask and answer questions related to their major in the Computing department of ETSU!
        We believe that learning is a collaborative process and that students learn best when they have access to a community of peers and experts who can provide guidance and support.

        Our platform is designed to facilitate this collaborative learning process by connecting students with qualified experts in their field of study. Whether you're struggling with a difficult assignment,
        preparing for an exam, or simply seeking to expand your knowledge, BucOverflow is the place for you.

        Our community is built on the principles of mutual respect, academic integrity, and inclusivity. We strive to create a safe and welcoming environment where students can freely exchange ideas,
        ask questions, and learn from one another.

        Join our community today and start taking your learning to the next level!

        This website was created by a team of 6 students called Team Min in an SE2 class with 4 developers, 1 Scrum Master, and 1 Product Owner.
    </p>
</div>