@{
    /*
     * This is the Privacy policy page for the website. Minimal data is taken from users, there is no planned large release for this
     * project, and we have no form of legal team so this is a barebones policy that basically says we do not harvest or share data
     * for anything more than account creation, and we are absolved of any responsibility for any other information that may appear
     * in the website (names or other info disclosed within a question or answer).
     */
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Privacy Policy</h1>
    <h5>Last Updated: April 3, 2023</h5>
    <br />
    <br />
    <div>
        <p style="padding-left: 100px; padding-right: 100px;">
            At BucOverflow, we take your privacy and security seriously. This privacy policy outlines our practices regarding the collection, use, and
            disclosure of personal information we receive from users of our website.
        </p>
        <br />
        <h6><strong>Information We Collect and How We Use It</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            When you use our website, we may collect certain information from you, such as your name and email address. We may use this information to
            improve our website, respond to your inquiries, and provide you with relevant content and services.

            In addition, we may collect non-personally identifiable information through the use of cookies, log files, and other tracking technologies.
            This information may include your IP address, browser type, operating system, and other technical details related to your use of our website.
            We may use this information to analyze usage patterns, improve our website, and provide you with personalized content and services.
        </p>
        <h6><strong>Disclosure of Information to Third Parties</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            We may share your personal information with third-party service providers who help us operate our website or provide you with services.
            These third-party service providers may have access to your personal information only as necessary to perform their services for us.

            We may also disclose your personal information if required to do so by law or in the good-faith belief that such action is necessary to
            comply with legal obligations or respond to legal claims.
        </p>
        <h6><strong>Security</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            We take reasonable measures to protect the security and integrity of your personal information. However, no transmission of data over the
            Internet or any other public network can be guaranteed to be 100% secure.
        </p>
        <h6><strong>Links to Third-Party Websites</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            Our website may contain links to third-party websites that are not affiliated with BucOverflow. We are not responsible for the privacy practices
            or content of these third-party websites.
        </p>
        <h6><strong>Changes to This Privacy Policy</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            We reserve the right to modify or update this privacy policy at any time. If we make any material changes to our privacy policy, we will
            notify you by email or by posting a notice on our website.
        </p>
        <h6><strong>Contact Us</strong></h6>
        <p style="padding-left: 100px; padding-right: 100px;">
            If you have any questions or concerns about this privacy policy, please contact us at privacy@bucoverflow.com.
        </p>
    </div>
    <br />
    <br />
</div>